*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto','Open Sans', sans-serif;
    background-color: white;
}
header{
    background-color: white;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    font-size: 1.2em;
    z-index: 99;
}

#logo{
    padding: 5px;
}
header li{
    display: inline-block;
    padding: 10px 0px;
    
}
header a{
    text-decoration: none;
    color: black;
    padding: 5px;
    transition: background-color 0.4s;
    display: inline-block;
}
header a:hover{
    background-color: #a2a3bb;
}

header .active{
    background-color: rgba(0,0,0,0.2);
}


#intro{
    min-height: 400px;
    background-image: url(garden.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 15px;
    position: relative;
}

.intro-text{
    position: relative;
    top: 200px;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    padding: 10px 20px;
    max-width: 1200px;
    margin: auto;
}

#form{
    text-align: center;

}
#form .form-container{
    max-width: 1000px;
    margin: auto;
    padding-bottom: 20px;
}
#form h2{
    padding:20px;
    
}
#form p{

    margin: auto;
    width: 60%;
    
}

#form input{
    font-size: 1.1em;
    display: block;
    margin: 10px auto;
    width: 60%;
    height: 30px;
    background-color: #fbf9ff;
    border: none;
}
#form input:hover{
    background-color: white;
    border: 5px solid #fbf9ff;
}
#form textarea:hover{
    background-color: white;
    border: 5px ssolid #fbf9ff;
}

textarea{
    font-size: 1.2em;
    display: block;
    margin: auto;
    width: 60%;
    height: 50px;
    background-color: #fbf9ff;
    border: none;
}
#form button{
    margin: 20px;
    padding: 20px;
    background-color:#55c18f;
    color: white;
     border: none;
}
#form button:hover{
    background-color: white;
    color: #55c18f;
    cursor: pointer;
    border: 2px solid;
}
#map .mapouter .gmap_canvas iframe{
    width: 100%;
}
footer{
    background-color: black;
    color: white;
    padding-bottom: 20px;
}

footer .services{
    padding: 20px;
    font-size: 1.1em;

    
}


footer li{
    margin:10px 10px 10px 0px;
    list-style: none;
    
}

footer a{
    color: white;
}

.contact-info{
    padding: 20px;
}

.contact-info p{
    margin: 3px;
}

.contact-form{
    padding: 20px;
    
}
.contact-form input{
    height: 35px;
    display: inline-block;
    width: 70%;
    border: none;
}

.contact-form button{
    background-color: #55C18F;
    padding: 10px 20px;
    display: inline-block;
    width: 25%;
    max-width:200px;
    border: none;
    margin-left: 10px;
    
}
.contact-form button:hover{
    cursor: pointer;
}

.copyright{
 text-align: center;
}

@media screen and (min-width:1000px){
    *{
        font-size: 1.03em;
    }
    header{
        height: 80px;
        padding-top: 10px;
    }
header #logo{
        display: inline-block;
        width: 30%;
        padding: 10px;
    text-align: right;
    }
    header nav{
        display: inline-block;
        width: 60%;
    }
    header nav{
     text-align: center;
    }
    header a{
        padding:10px;
    }
    #intro{
        min-height: 600px;
    } 
    .intro-text{
        padding:30px;
        top: 300px;
        font-size: 2em;
    }
    
    #form{
        font-size: 1.3em;
    }
    
    #form input{
        margin: 30px auto;
        height: 50px;
        padding: 10px;
    }
        #form textarea{
        margin: 30px auto;
        height: 100px;
        padding: 10px;
    }

footer .services{
        display: inline-block;
    }
    footer .contact-info{
        display: inline-block;
    }
    
}

h2{
    font-size: 1.4em;
}

}

}


